.ipynb_checkpoints/
.vscode/

venv/
.env
__pycache__/
*.pyc

raw/
extracted_frames*/
frames_*/
temp_frames/
video_*.npy

results*/
artifacts/
recon_*/
reconstruction_*/

*.pth
*.ckpt
*.h5
*.pkl

stylegan2-ada-pytorch/
encoder4editing/
